
/* TIC - TAC - TOE */

.maintable {
    border:none;
    border-collapse: collapse;
}

.maintable td {
    border-left: 5px solid #444;
}

.maintable td:first-child {
    border-left: none;
}

.maintable .mainrow {
    border-top: 5px solid #222;
}

.maindata {
	width: 100px;
	height: 100px;
	background-color: #121212;
}

.maindataNoHover {
	width: 100px;
	height: 100px;
	background-color: #121212;
}

.maindata:hover {
	background-color: #777;
}

.maindataNoHover:hover {
	background-color: #121212;
}